name: Deploy UI to Vercel

on:
  push:
    branches:
      - dev
  pull-request:
    branches:
      - dev

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Download UI artifact
        uses: actions/download-artifact@v4
        with:
          name: statera-ui-dist
          path: ./packages/ui/.next

      - name: Install Vercel CLI
        run: npm install -g vercel

      - name: Deploy to Vercel
        run: vercel deploy --prebuilt --prod --token=${{ secrets.VERCEL_TOKEN }}
